:root {
    --main2: #d4bdbd;
    --main: #c0cfe0;
    --sec1: #878694;
    --sec: #FFA3FD;
}

.hide{
    visibility: hidden;
}
#pnl_error{
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    background: var(--main2);
    color: #fff;
    font-family: sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.form_box {
    position: relative;
    width: 400px;
    height: auto;
    background: var(--main);
    border-radius: 10px;
    box-shadow: 2px 2px 20px var(--sec1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign_up_box {
    position: relative;
    width: 550px;
    height: auto;
    background: var(--main);
    border-radius: 10px;
    box-shadow: 2px 2px 20px var(--sec1);
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    margin-top: 50px;
}

.multi_input_box {
    display: flex;
}

.multi_input_box .input_box {
    position: relative;
    width: 100%;
    /*border-bottom: 1px solid #fff;*/
}

.sign_up_box form .input_box {
    position: relative;
    margin: 30px 0 0 10px;
    width: 98%;
    /*border-bottom: 2px solid #fff;*/
}

.input_box {
    position: relative;
    margin: 30px 0 0 10px;
    /*width: 309px;*/
    /*border-bottom: 2px solid #fff;*/
}

.input_box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    transition: .5s;
    pointer-events: none;
}

.input_box input:invalid {
    border-bottom: 2px solid red;
}

input:focus ~ label,
input:valid ~ label {
    top: -1px;
    font-size: .75em;
}

.input_box input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    font-size: 1em;
    transition: .5s;
    color: #fff;
}

.input_box img{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 5px;
    top: 50%;
    z-index:4;
    transform: translateY(-50%);
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input[type=submit] {
    font-size: 17px;
    margin-top: 10px;
    padding: 0.5em 5em;
    border: transparent;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    background: var(--sec);
    color: white;
    border-radius: 4px;
}

input[type=submit]:hover {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(30,144,255,1) 0%, rgba(0,212,255,1) 100%);
}



input[type=submit]:active {
    transform: translate(0em, 0.2em);
}

.p {
    font-size: 11px;
    padding: 10px;
    text-align: center;
}

a {
    color: var(--sec1);
}

.pfp_h {
    display: flex;
    position: relative;
    justify-content: center;
    border: 1px solid;
    border-radius: 50%;
    height: 280px;
    width: 100%;
    z-index: 2;
}
.pfp_h img{
    width: 288px;
    height: 100%;
    z-index: 1;
    border-radius: 50%;
    object-fit: cover;
   object-position: center;
}
.pfp_h label{
    position: absolute;
    padding: 42% 41% 45% 34%;
    transition: .5s ease-in-out;
    z-index:3;
    opacity: 0;
}

.pfp_h label:hover{
    opacity: 1;
}